---
layout: default
authors: [paolobrasolin, tetrapharmakon]
---

<header class="sunset__wrapper">
  <div class="sunset__picture"></div>
  <div class="sunset__title">HATA</div>
</header>

<main class="index">
  <p>
    This is a collection of reverse engineered Japanese prefectures flags.
  </p>
  <p>
    {% assign authors = site.data.authors | map: "id" %}
    {% include authors.html content=authors %}
  </p>

  <hr>

  <div class="grid">
    {% for flag in site.flags %}
    {% unless flag.placeholder %}
    {% assign path = flag.url | remove: 'index.html' | relative_url %}
    <a class="grid__flag" href="{{ path }}">
      <img class="flag__thumb" width="100px" src="{{ path }}banner.svg">
      <small class="flag__label">{{ flag.name }}</small>
    </a>
    {% endunless %}
    {% endfor %}
  </div>

  <hr>

  <div class="grid">
    {% for flag in site.flags %}
    {% if flag.placeholder %}
    <a class="grid__flag grid__flag--inactive" href="{{ flag.reference_url }}">
      <img class="flag__thumb" width="100px" src="{{ flag.thumbnail_url }}">
      <small class="flag__label">{{ flag.name }}</small>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</main>