---
layout: default
---

<div class="grid">
  {% for flag in site.flags %}
  {% if flag.published %}
  <a class="grid__flag" href="{{ flag.url }}">
    <img class="flag__thumb" width="100px" src="{{ flag.thumbnail_url }}">
    <small class="flag__label">{{ flag.name }}</small>
  </a>
  {% else %}
  <a class="grid__flag grid__flag--inactive" href="{{ flag.reference_url }}">
    <img class="flag__thumb" width="100px" src="{{ flag.thumbnail_url }}">
    <small class="flag__label">{{ flag.name }}</small>
  </a>
  {% endif %}
  {% endfor %}
</div>