@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Noto Sans", sans-serif;

  background-color: #2c3331;
  background-image: url("../images/waves.svg");
  background-size: 5rem;
  background-blend-mode: darken;
  background-position-x: center;
  background-attachment: fixed;
}

header {
  width: 100%;
  /* height: 20rem; */
}

header > div {
  width: 100%;
  /* height: 100%; */
  padding-bottom: 50%;
  background-color: white;
  background-image: url("../images/fuji.svg"),
    radial-gradient(circle at 70% 60%, #c70025 12%, transparent 12.1%),
    conic-gradient(
      from 0deg at 70% 80%,
      #ffc560 50deg,
      #fcb653 60deg,
      #d19745 70deg,
      #d19745 290deg,
      #fcb653 300deg,
      #ffc560 310deg
    );

  background-repeat: no-repeat;
  background-position-y: 100%;
}

body {
  max-width: 40rem;
  margin: 4rem auto;
  background-color: floralwhite;
  background-color: #2c3331;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
  /* border: 1px lightgrey solid; */
}

main {
  color: white;
  padding: 1rem 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.grid__flag {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.125rem;
}

.flag__label {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.grid__flag--inactive {
  filter: saturate(0);
}
